header{
  width: 100%;
  background-color: aquamarine
  ul {
    display:inline-block;
  }
  li{
    display: inline-block;
    padding-right: 10px;
  }

  h4{
    color:#fff;
    font-size: 1.4em;
    padding: 2%  2%;
    display: inline-block;
    margin: 0%;
  }
}
  div.container{
    vertical-align: top;
  }
  section.blogs{
    width: 65%;
  }

  aside.create-blog{
    width: 34%;
    display: inline-block;
    vertical-align: inherit;
  }

  footer{
    height: 75px;
  }
